@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.middleContainer {
	display: flex;
}

.dropdown {
	flex: 1 1 0px;
}

#eaterySelect, 
#bizarreSelect, 
#parkSelect {
	width: 70%;
}

.itineraryPreview {
	flex: 2 1 0px;
	text-align: center;
}

.contentContainer {
	display: flex;
	flex: 1 1 0px;
	justify-content: space-around;
}

.savedItineraryContainer {
	flex: 1 1 0px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	background-color: #7ec850;
}

.itineraryCard {
	margin: 10px;
	background-color: tan;
	padding: 5px;
	border-radius: 5px;
}
